version: '3.8'

services:
  # Database PostgreSQL
  db:
    image: postgres:15
    container_name: my_product_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: product_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Adminer (Công cụ quản lý DB qua web)
  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
  pgdata: